<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/cache
       http://www.springframework.org/schema/cache/spring-cache.xsd">
    <!--<bean id="userService" class="com.qob.Service.UserService">-->
    <!--<property name="name"> <value>qiaolw</value> </property>-->
    <!--<property name="mByeService" ref="byeService"></property>-->
    <!--</bean>-->
    <!--<bean id="byeService" class="com.qob.Service.ByeService">-->
        <!--<property name="name">-->
            <!--<value>bye name</value>-->
        <!--</property>-->
    <!--</bean>-->
    <bean id="greetingAdvice" class="com.qob.advice.GreetingBeforeAdvice"/>
    <bean id="greetingAfter" class="com.qob.advice.GreetingAfterAdvice"/>
    <bean id="greetingAround" class="com.qob.advice.GreetingInterceptor"/>
    <bean id="transactionManagerException" class="com.qob.advice.TransactionManager"/>
    <bean id="forumServiceTarget" class="com.qob.advice.ForumService"/>
    <bean id="waiterTarget" class="com.qob.advice.NaiveWaiter"/>
    <bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:proxyInterfaces="com.qob.advice.Waiter"
          p:interceptorNames="greetingAdvice,greetingAfter,greetingAround"
          p:target-ref="waiterTarget"/>
    <bean id="forumService" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="transactionManagerException"
          p:proxyTargetClass="true"
          p:target-ref="forumServiceTarget"/>
    <bean id="pmonitor" class="com.qob.advice.ControllablePerformanceMonitor"/>
    <bean id="forumServiceTarget2" class="com.qob.Service.TForumServiceImpl"/>
    <bean id="forumService2" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interfaces="com.qob.advice.Monitorable"
          p:interceptorNames="pmonitor"
          p:proxyTargetClass="true"
          p:target-ref="forumServiceTarget2"/>

    <bean id="sellerTarget" class="com.qob.advice.Seller"/>
    <bean id="greetingAdvisor" class="com.qob.advice.GreetingAdvisor" p:advice-ref="greetingAdvice"/>
    <bean id="parent" abstract="true" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="greetingAdvisor"
          p:proxyTargetClass="true"/>
    <bean id="waiterObj" parent="parent" p:target-ref="waiterTarget"/>
    <bean id="sellerObj" parent="parent" p:target-ref="sellerTarget"/>

    <bean id="regexpAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor"
          p:advice-ref="greetingAdvice">
        <property name="patterns">
            <list>
                <value>.*greet.*</value>
            </list>
        </property>
    </bean>
    <bean id="waiterPf" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="regexpAdvisor"
          p:target-ref="waiterTarget"
          p:proxyTargetClass="true"/>
    <bean id="waiter752" class="com.qob.advice.NaiveWaiter"></bean>
    <bean id="seller752" class="com.qob.advice.Seller"></bean>
    <bean id="greetingAdvice752" class="com.qob.advice.GreetingBeforeAdvice"/>
    <!--<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator"-->
          <!--p:beanNames="*er" p:interceptorNames="greetingAdvice752" p:optimize="true"/>-->


    <bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    <property name="locations">
        <list>
            <value>classpath:config.properties</value>
        </list>
    </property>
    </bean>

    <!-- 自动扫描注解的bean -->
    <context:component-scan base-package="com.qob" />

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close"
          p:driverClassName="com.mysql.jdbc.Driver"
          p:url="jdbc:mysql://localhost:3306/qobtestdb?serverTimezone=UTC"
          p:username="root"
          p:password="123456">
    </bean>
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"
          p:dataSource-ref="dataSource">
    </bean>
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
            p:dataSource-ref="dataSource">
    </bean>
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>
    <aop:config proxy-target-class="true">
        <aop:pointcut id="serviceMethod" expression=" (execution(* com.qob.Service..*(..))) and (@annotation(org.springframework.transaction.annotation.Transactional))"/>
        <aop:advisor pointcut-ref="serviceMethod" advice-ref="txAdvice"/>
    </aop:config>

    <!-- 启动触发器的配置开始 -->
    <bean name="startQuertz" lazy-init="false" autowire="no"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="myJobTrigger" />
            </list>
        </property>
    </bean>
    <!-- 启动触发器的配置结束 -->
    <!-- quartz-2.x的配置 -->
    <bean id="myJobTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="myJobDetail" />
        </property>
        <property name="cronExpression">

            <value>0/10 * *  * * ?</value>
            <!--   <value>1 52 * * * ?</value>  -->
        </property>
    </bean>
    <!-- 调度的配置结束 -->

    <!-- job的配置开始 -->
    <bean id="myJobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="myJob" />
        </property>
        <property name="targetMethod">
            <value>work</value>
        </property>
    </bean>
    <!-- job的配置结束 -->

    <!-- 工作的bean -->
    <bean id="myJob" class="com.qob.quartz.jobTest" />
</beans>